.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Optional: adds background color */
  }
  