<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-[#713122] text-[#cd966c] flex justify-around">
    <ion-tab-button tab="ranked" routerLink="/ranked">
      <div class="flex mt-1 flex-col items-center">
        <mat-icon>emoji_events</mat-icon>
        <ion-label class="block text-xs mt-1">Ranked</ion-label>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="partidas" routerLink="/partidas">
      <div class="flex mt-1 flex-col items-center">
        <mat-icon>sports_esports</mat-icon>
        <ion-label class="block text-xs mt-1">Partidas</ion-label>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="jugadores" routerLink="/jugadores">
      <div class="flex mt-1 flex-col items-center">
        <mat-icon>group</mat-icon>
        <ion-label class="block text-xs mt-1">Jugadores</ion-label>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="reglas" routerLink="/reglas">
      <div class="flex mt-1 flex-col items-center">
        <mat-icon>description</mat-icon>
        <ion-label class="block text-xs mt-1">Reglas</ion-label>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
